<md-dialog>
    <form ng-cloak>
        <div class="md-dialog-content">
            <h2>About</h2>
            <p>Made with love and Spotify</p>
            <p>Beta v1.0</p>
        </div>
    </form>
</md-dialog>