<body ng-controller="PlayAppController" style="height: auto">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130374767-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-130374767-1');
        gtag('page', 'home');
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="javascripts/index.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel='stylesheet' href='/stylesheets/home.css'/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <div>
        <img class="home-icon" src="/images/icon.png"></img>
    </div>
    <div class="home">
        <div class="left">
            <p class="title">Tunecroc Radio!</p>
            <p class="sub-title">Listen to songs voted up by others!</p>
            <p class="sub-title" style="line-height: 0px">Discover your next favourite song!</p>
        </div>
        <div class="right">
            <p class="join-now">Join Us Now!</p>
            {{#if referrer}}
                <a class="login" href="/login?referrer={{referrer}}">
            {{else}}
                <a class="login" href="/login">
            {{/if}}
                <div class="login-main">
                    Login using Spotify*
                </div>
            </a>
            {{#if flash}}
                <p class="flash">{{ flash }}</p>
            {{/if}}
            <br/><br/>
        </div>
    </div>
    <div class="introduction">
        <div>
            <div class="currently-playing">
                Currently Playing
            </div>
            <div class="track-list-row-3">
                <div class="hell1-there" ng-repeat="x in top_list">
                    <div class="[{trackClass(x.id)}]" ng-click="songSelected(x.id)">
                        <div><img class="top-list-track-image" ng-src="[{x.album.images[2].url}]"></div>
                        <div class="track-names">
                            <div class="track-name">[{ x.name.length > 25 ? x.name.substring(0, 25) + ".." : x.name }]</div>
                            <div class="track-album">[{ x.album && x.album.name ? (x.album.name.length > 25 ? x.album.name.substring(0, 25) + ".." : x.album.name) : "" }]</div>
                            <div class="track-artist">[{ x.artists[0] && x.artists[0].name ? (x.artists[0].name.length > 25 ? x.artists[0].name.substring(0, 25) + ".." : x.artists[0].name) : "" }]</div>
                            <div class="track-padding"></div>
                        </div>
                        <div class="top-hot-or-not">
                            <div class="top-hot-div">
                                <span ng-if="!!x.popularity_status" class="popularity">[{ x.popularity_status === 'Now Playing' ? '&#9658;' : (x.popularity_status === 'Hot' ? x.popularity_status : x.popularity_status + '&#x21E7;') }]</span>
                            </div>
                            <div class="user-stats">
                                <div class="track-dropdown-menu">
                                    <div class="track-dropdown-menu-button">&#x22EE;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="usage-info">
            <p class="image-title">Vote up your favourite songs</p>
            <img src="/images/main_page_image.png"/>
            <p class="image-title">Never listen to a boring song again!</p>
        </div>
    </div>

    <div class="footer">
        <div class="disclaimer">
            <p class="disclaimer" style="display: inline;margin-bottom: 4px">*Only for Premium users. By logging in, I accept the <span class="link" ng-click="showTerms()">terms and conditions</span></p>&nbsp;&#9679;&nbsp;<p class="link" ng-click="showAbout()">about</p>&nbsp;&#9679;&nbsp;<p class="link" ng-click="showContact()">contact</p>&nbsp;&#9679;&nbsp;<p class="link" ng-click="showPrivacy()">privacy</p>
        </div>
    </div>
</body>