<!DOCTYPE html>
<html ng-app="PlayApp" style="height: 100%">
  <head>
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <meta property="og:title" content="TuneCroc" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://www.tunecroc.com/" />
      <meta property="og:image" content="https://www.tunecroc.com/images/main_page_image-2.png" />
      <meta property="og:description" content="Listen to songs voted up by others! Best christmas radio on the internet for Spotify Premium users! Free!" />
  </head>
    {{{body}}}
</html>
