<body ng-controller="PlayAppController" ng-click="hideSearch($event)" ng-keydown="keyPressed($event)">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130374767-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-130374767-1');
        gtag('page', 'play');
    </script>

    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.6.0/rzslider.min.js"></script>
    <script src="javascripts/play.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.6.0/rzslider.min.css"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <div class="main-loader" ng-show="!loadingComplete()">
        <img class="loading" ng-src="/images/loading.gif">
        <rzslider class="init-progress-slider" rz-slider-model="initProgress.value" rz-slider-options="initProgress.options" ></rzslider>
        <p>[{ initalizing_message }]</p>
    </div>

    <div class="main-body" ng-show="loadingComplete()" ng-cloak>
        <div class="top-bar-style">
            <div class="top-bar">
                <img class="icon" src="/images/icon.png"></img>
                <form class="search-form" ng-submit="doSearch()">
                    <input class="search-bar" type="text" size="30" ng-model="searchString" ng-change="search()" placeholder="Search by track, album or artist">
                    <input class="search-button" type="submit" ng-click="doSearch()" value="Search">
                </form>
                <div class="share-buttons">
                    <img class="heart" src="/images/heart.png"></img>
                    <div class="fb-share-button" data-href="https://www.tunecroc.com/" data-layout="button" data-size="large" data-mobile-iframe="false"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.tunecroc.com&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                    <a class="twitter-share-button" data-hashtags="radio,tunecroc,spotify,music"
                       data-url="https://www.tunecroc.com/"
                       data-text="Hey! Checkout this new Spotify powered radio app!"
                       data-size="large"
                       href="https://twitter.com/intent/tweet"></a>
                </div>
                <div class="top-left">
                    <div class="pick-count">
                        <div class="pick-count-holder">
                            <span class="pick-count-holder-number">[{picksRemaining}]</span><span class="pick-count-holder-arrow">&#x2B06;</span>
                        </div>
                    </div>
                    <div class="account">
                        <div class="username">
                            <span class="username-holder">Hi, {{username}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="showSearch" class="search-results-container">
                <div class="search-results-row-container">
                    <div class="row-1">
                        <p class="search-results-title">Tracks</p>
                        <div class="tracks">
                            <div ng-repeat="x in tracks.items">
                                <div class="[{trackClass(x.id)}]" ng-click="songSelected(x.id, true, $event)">
                                    <span class="track-image"><img ng-src="[{x.album.images[2].url}]"></span>
                                    <span class="highlight">&nbsp;&nbsp;[{ x.name.length > 30 ? x.name.substring(0, 30) + ".." : x.name }]</span>
                                    <span>[{ x.album && x.album.name ? "&nbsp;- " + (x.album.name.length > 30 ? x.album.name.substring(0, 30) + ".." : x.album.name) : "" }]</span>
                                    <span>[{ x.artists[0] && x.artists[0].name ? "&nbsp;- " + (x.artists[0].name.length > 30 ? x.artists[0].name.substring(0, 30) + ".." : x.artists[0].name) : "" }]</span>
                                    <div class="track-pick">
                                        <span class="track-pick-score">[{ trackScores[x.id] ? '+' + trackScores[x.id] : '' }]</span>
                                        <!--<span class="down-button" ng-click="songSelected(x.id, false, $event)">&#x2B07;</span>-->
                                        <div class="search-track-dropdown-menu">
                                            <div class="search-bar-drop-down-menu">&#x22EE;</div>
                                            <div class="search-track-dropdown-menu-content">
                                                <div ng-click="songSelected(x.id, false, $event)">Downvote</div>
                                                <div ng-click="playNow(x.id, $event)">Play now</div>
                                                <div ng-click="addToQueue(x.id, false, $event)">Add to queue</div>
                                                <div ng-click="saveTrack(x.id, $event)">Save track</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-2">
                        <div class="album-and-x">
                            <p class="search-results-title">Albums</p>
                            <div class="x-button" ng-click="hideSearchByButton()">&times;</div>
                        </div>
                        <div class="albums">
                            <div class="albums-repeat" ng-repeat="x in albums.items">
                                <div class="album-result album-opacity-[{fetchOpacityAlbum(x.id)}]" ng-click='searchForThisItem(x.id, "album")'>
                                    <div><img ng-src="[{x.images[1].url}]"></div>
                                    <div class="album-name"><p>[{ x.name.length > 30 ? x.name.substring(0, 28) + ".." : x.name }]</p></div>
                                </div>
                            </div>
                        </div>
                        <p class="search-results-title">Artists</p>
                        <div class="artists">
                            <div class="artists-repeat" ng-repeat="x in artists.items">
                                <div class="artist-result artist-opacity-[{fetchOpacityArtist(x.id)}]" ng-click='searchForThisItem(x.id, "artist")'>
                                    <div><img ng-src="[{x.images[1].url}]"></div>
                                    <div class="artist-name"><p>[{ x.name.length > 30 ? x.name.substring(0, 28) + ".." : x.name }]</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="premium-user-notification">
            Play on demand, Save songs and Add songs to your queue &nbsp;&nbsp;<span class="premium-user-notification-button" ng-click="showAdvanced($event)">Learn More</span>
        </div>

        <div class="tracks-list">
            <div class="track-list-row-2">
                <div class="side-menu">
                    <a class="[{isSelected('Playlist')}]" ng-click="fetch_current_top_tracks()">Current playlist</a>
                    <a class="[{isSelected('My picks')}]" ng-click="fetch_user_picks()">My picks</a>
                    <a class="[{isSelected('Previous tracks')}]" ng-click="fetch_previously_played()">Previous played</a>
                    <a class="[{isSelected('Saved tracks')}]" ng-click="fetch_saved_tracks()">Saved tracks</a>
                    <a class="[{isSelected('My playlists')}]" ng-click="fetch_my_playlists()">My playlists</a>
                </div>
            </div>
            <div class="track-list-row-3" ng-if="selectedItem !== 'My playlists'">
                <div class="hell1-there" ng-repeat="x in top_list">
                    <div class="[{trackClass(x.id, 'tracks-lists')}]" ng-click="songSelected(x.id, true)">
                        <div><img class="top-list-track-image" ng-src="[{x.album.images[2].url}]"></div>
                        <div class="track-names">
                            <div class="track-name">[{ x.name.length > 25 ? x.name.substring(0, 25) + ".." : x.name }]</div>
                            <div class="track-album">[{ x.album && x.album.name ? (x.album.name.length > 25 ? x.album.name.substring(0, 25) + ".." : x.album.name) : "" }]</div>
                            <div class="track-artist">[{ x.artists[0] && x.artists[0].name ? (x.artists[0].name.length > 25 ? x.artists[0].name.substring(0, 25) + ".." : x.artists[0].name) : "" }]</div>
                            <div class="track-padding"></div>
                        </div>
                        <div class="top-hot-or-not">
                            <div class="top-hot-div">
                                <span ng-if="!!x.popularity_status" class="popularity">[{ x.popularity_status === 'Now Playing' ? '&#9658;' : (x.popularity_status === 'Hot' ? x.popularity_status : x.popularity_status + '&#x21E7;') }]</span>
                            </div>
                            <div class="user-stats">
                                <span class="pick-number">[{ trackScores[x.id] ? '+' + trackScores[x.id] : '' }]</span>
                                <div class="track-dropdown-menu">
                                    <div class="track-dropdown-menu-button">&#x22EE;</div>
                                    <div class="track-dropdown-menu-content">
                                        <div ng-click="songSelected(x.id, false, $event)">Downvote</div>
                                        <div ng-click="playNow(x.id, $event)">Play now</div>
                                        <div ng-click="addToQueue(x.id, remove(x), $event)">[{ remove(x) ? 'Remove from queue' : 'Add to queue' }]</div>
                                        <div ng-click="saveTrack(x.id, $event)">Save track</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="track-list-row-3" ng-if="selectedItem === 'My playlists'">
                <div ng-repeat="playlist in playlists">
                    <div class="playlist-name">[{ playlist.name }]</div>
                    <div class="tracks-container">
                        <div class="hell1-there" ng-repeat="x in playlist.tracks">
                            <div class="[{trackClass(x.id, 'tracks-lists')}]" ng-click="songSelected(x.id, true)">
                                <div><img class="top-list-track-image" ng-src="[{x.album.images[2].url}]"></div>
                                <div class="track-names">
                                    <div class="track-name">[{ x.name.length > 25 ? x.name.substring(0, 25) + ".." : x.name }]</div>
                                    <div class="track-album">[{ x.album && x.album.name ? (x.album.name.length > 25 ? x.album.name.substring(0, 25) + ".." : x.album.name) : "" }]</div>
                                    <div class="track-artist">[{ x.artists[0] && x.artists[0].name ? (x.artists[0].name.length > 25 ? x.artists[0].name.substring(0, 25) + ".." : x.artists[0].name) : "" }]</div>
                                    <div class="track-padding"></div>
                                </div>
                                <div class="top-hot-or-not">
                                    <div class="top-hot-div">
                                        <span ng-if="!!x.popularity_status" class="popularity">[{ x.popularity_status === 'Now Playing' ? '&#9658;' : (x.popularity_status === 'Hot' ? x.popularity_status : x.popularity_status + '&#x21E7;') }]</span>
                                    </div>
                                    <div class="user-stats">
                                        <span class="pick-number">[{ trackScores[x.id] ? '+' + trackScores[x.id] : '' }]</span>
                                        <div class="track-dropdown-menu">
                                            <div class="track-dropdown-menu-button">&#x22EE;</div>
                                            <div class="track-dropdown-menu-content">
                                                <div ng-click="songSelected(x.id, false, $event)">Downvote</div>
                                                <div ng-click="playNow(x.id, $event)">Play now</div>
                                                <div ng-click="addToQueue(x.id, remove(x), $event)">[{ remove(x) ? 'Remove from queue' : 'Add to queue' }]</div>
                                                <div ng-click="saveTrack(x.id, $event)">Save track</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="player">
            <div class="player-row-padding"></div>
            <div class="player-contents">
                <div class="player-contents-top-row">
                    <div class="player-row-1">
                        <div class="track-holder">
                            <div class="track-holder-image">
                                <img class="track-image" ng-src="[{currentTrackInfo.album.images[2].url}]">
                            </div>
                            <div class="track-holder-attributes">
                                <div class="track-holder-name">
                                    [{ currentTrackInfo.name }]
                                </div>
                                <div class="track-holder-album">
                                    [{ currentTrackInfo.album.name }]
                                </div>
                                <div class="track-holder-artist">
                                    [{ currentTrackInfo.artists[0].name }]
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="play-pause">
                        <img class="track-play-pause-image" ng-src="[{ state.paused ? '/images/play.png' : '/images/pause.png' }]" ng-click="playPause()"/>
                        <div ng-if="initializing" class="track-play-pause-init">Initializing...</div>
                    </div>
                </div>
                <div class="player-contents-bottom-row">
                    <div class="track-progress-bar">
                        <div class="track-time">
                            [{ current_position }]
                        </div>
                        <div class="track-progress">
                            <rzslider class="track-progress-slider" rz-slider-model="trackProgressSlider.value" rz-slider-options="trackProgressSlider.options" ></rzslider>
                        </div>
                        <div class="track-length">
                            [{ track_length }]
                        </div>
                    </div>
                    <div class="volume-position">
                        <rzslider class="volume-slider" rz-slider-model="volumeSlider.value" rz-slider-options="volumeSlider.options" ></rzslider>
                    </div>
                </div>
            </div>
            <div class="player-row-padding"></div>
        </div>
    </div>
</body>