<md-dialog style="width: 700px">
    <form ng-cloak>
        <div>
            <div class="md-dialog-content">
                <h2 style="margin-top: 0">Welcome from TuneCroc!</h2>

                <p>
                    Click on any song to upvote it. You can upvote a song any number of times.
                </p>

                <p>
                    10 votes are available at a time. This count will reset every time the next track has been selected.
                </p>

                <p>
                    You will be able to
                </p>

                <ul>
                    <li>
                        Save your favourite songs to Spotify.
                    </li>
                    <li>
                        Play on demand.
                    </li>
                    <li>
                        Add songs to your personal playlist.
                    </li>
                    <li>
                        Create you own playlists using &#x22EE; button on any track (Upcoming).
                    </li>
                </ul>

                <div class="share-buttons-dialog">
                    <div style="margin-right: 10px">Share it</div>
                    <div class="fb-share-button layout-row fb_iframe_widget" data-href="https://www.tunecroc.com/" data-layout="button" data-size="large" data-mobile-iframe="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=0&amp;href=https%3A%2F%2Fwww.tunecroc.com%2F%3Freferrer%3D{{ referrer_code }}&amp;layout=button&amp;locale=en_GB&amp;mobile_iframe=false&amp;sdk=joey&amp;size=large"><span style="vertical-align: bottom; width: 73px; height: 28px;"><iframe name="f2cbc98cb16464" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:share_button Facebook Social Plugin" src="https://www.facebook.com/v3.2/plugins/share_button.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F7LloFuHvA7I.js%3Fversion%3D43%23cb%3Df25b8245503abcc%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A3000%252Ff2500769eb01d1%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.tunecroc.com&amp;layout=button&amp;locale=en_GB&amp;mobile_iframe=false&amp;sdk=joey&amp;size=large" style="border: none; visibility: visible; width: 73px; height: 28px;" class=""></iframe></span></div>
                    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 76px; height: 28px; margin-left: 10px" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.0568ee90c37ccf52b40a4b1e312811ff.en.html#dnt=false&amp;hashtags=radio%2Ctunecroc%2Cspotify&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Flocalhost%3A3000%2Fplay&amp;size=l&amp;text=Hey!%20Checkout%20this%20new%20Spotify%20powered%20radio%20app!&amp;time=1543706684677&amp;type=share&amp;url=https%3A%2F%2Fwww.tunecroc.com" data-url="https://www.tunecroc.com/"></iframe>
                </div>
            </div>
        </div>
    </form>
</md-dialog>