html, body {
  min-height: 100%;
}

body {
  background-color: #031926;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

*:focus {outline:none !important}

.home {
  margin: auto;
  display: flex;
}

.login {
  text-decoration: none;
  color: white;
}

.right {
  margin: 3% auto auto auto;
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right .login-main {
  background: #1DB954;
  padding: 10px 50px 10px 51px;
  border-radius: 20px;
  font-weight: bold;
  width: 147px;
}

.left {
  font-size: 14px;
  margin: 1% auto auto 3%;
  color: white;
  flex-grow: 6;
  text-align: center;
}

.title {
  font-size: 64px;
  margin-bottom: -16px;
  margin-top: 40px;
}

.sub-title {
  font-size: 30px;
}

.disclaimer {
  text-align: center;
  margin-top: 4px;
  font-style: italic;
  color: white;
  font-size: small;
}

.flash {
  text-align: center;
  margin: 4px auto auto auto;
  font-style: italic;
  color: white;
  font-size: small;
  border: 1px solid white;
  border-radius: 6px;
  width: max-content;
  padding: 4px 10px 4px 10px;
}

.link {
  color: white;
  text-decoration: underline;
  display: inline;
}

.link:hover {
  cursor: pointer;
}

.image-title {
  font-size: 19px;
  line-height: 8px;
}

.track-list-row-3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 906px;
}

.track-list-row-3 .top-hot-or-not {
  margin-left: auto;
  font-size: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.track-list-row-3 .top-hot-or-not .user-stats {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  align-items: flex-end;
  margin-bottom: -2px;
  align-self: flex-end;
  font-size: 14px;
}

.track-list-row-3 .top-hot-or-not .popularity {
  margin-left: auto;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0 2px 0 2px;
}

.track-list-row-3 .top-hot-or-not .pick-number {
  padding: 0 5px 4px 2px;
  color: #808080;
}

.track-list-row-3 .top-hot-or-not .pick-button {
  border: 1px solid white;
  padding: 1px 3px 1px 3px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #13315c;
}

.track-list-row-3 .top-hot-or-not .pick-button:hover {
  cursor: default;
}

.track-list-row-3 .top-hot-or-not .top-hot-div {
  display: flex;
  height: 14px;
}

.track-list-row-3 .track-default {
  width: 278px;
  margin: 6px;
  display: flex;
  background-color: #13315c;
  height: 60px;
  padding: 6px;
}

.track-list-row-3 .track-picked {
  width: 278px;
  margin: 6px;
  display: flex;
  background-color: #6FD08C;
  height: 60px;
  padding: 6px;
}

.track-list-row-3 .hell1-there:hover .track-default {
  background-color: #005e7c;
}

.track-list-row-3 .hell1-there:hover .track-picked {
  background-color: #BACDB0;
}

.track-list-row-3 .track-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6px;
  align-items: flex-start;
}

.track-list-row-3 .top-list-track-image {
  height: 60px;
}

.track-list-row-3 .track-default .track-name {
  color: #EEF4ED;
}

.track-list-row-3 .track-picked .track-name {
  color: #000000;
}

.track-list-row-3 .track-default .track-album {
  color: #808080;
  font-size: smaller;
}

.track-list-row-3 .track-picked .track-album {
  color: #2f4f4f;
  font-size: smaller;
}

.track-list-row-3 .track-default .track-artist {
  color: #808080;
  font-size: smaller;
}

.track-list-row-3 .track-picked .track-artist {
  color: #2f4f4f;
  font-size: smaller;
}

/*.track-list-row-3 .track-default .track-name:hover {*/
/*color: #EEF4ED;*/
/*}*/

/*.track-list-row-3 .track-default .track-album:hover {*/
/*color: #808080;*/
/*font-size: smaller;*/
/*}*/

/*.track-list-row-3 .track-default .track-artist:hover {*/
/*color: #808080;*/
/*font-size: smaller;*/
/*}*/

.track-list-row-3 .track-padding {
  height: 12px;
}

.currently-playing {
  font-size: 24px;
  padding: 6px;
}

.home-icon {
  height: 45px;
  margin-right: 14px;
  margin-left: 3px;
}

.introduction {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.join-now {
  text-align: center;
  margin-top: 4px;
  color: white;
  font-size: x-large;
  margin-bottom: 15px;
}

.usage-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-top: 50px;
  padding-bottom: 30px;
}

.md-dialog-content {
  background-color: #031926;
  color: white;
}