html, body {
  min-height: 98%;
}

body {
  min-height: 98%;
  background-color: #031926;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

*:focus {outline:none !important}

.main-loader {
  text-align: center;
}

.main-loader .loading {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 100px;
}

.top-bar-style {
  padding: 8px;
}

.top-bar {
  display: inline-flex;
  width: 100%;
}

.top-bar .search-form {
  display: flex;
  width: 54%;
  flex-direction: row;
}

.top-bar .top-left {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.top-bar .pick-count {
  margin-left: 16px;
  border: 6px solid #13315c;
  border-radius: 10px;
  background-color: #13315c;
}

.top-bar .pick-count .pick-count-holder {
  border-radius: 6px;
  background-color: #031926;
  padding: 11px;
  height: 18px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-bar .pick-count .pick-count-holder .pick-count-holder-number {
  color: #C0C0C0;
  font-size: 20px;
  line-height: 18px;
}

.top-bar .pick-count .pick-count-holder .pick-count-holder-arrow {
  color: gold;
  font-size: 20px;
  line-height: 18px;
}

.top-bar .username {
  border-radius: 6px;
  background-color: #031926;
  padding: 11px;
  height: 18px;
  margin-top: 5px;
}

.top-bar .username .username-holder {
  color: #C0C0C0;
  font-size: 20px;
  line-height: 18px;
}

.search-bar {
  background-color: #13315c;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-left: 15px;
  color: #eef4ed;
  border: 0;
  outline: none;
}

.search-button {
  margin: 6px 0 0 -107px;
  width: 101px;
  height: 40px;
  border-radius: 6px;
  background-color: #031926;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #C0C0C0;
  border: 0;
  outline: none;
}

.search-button:hover {
  background-color: #7d84b2;
}

.search-button:active {
  background-color: #031926;
}

.footer {
  margin-left: -58px;
  background-color: black;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
}

.search-results-container {
  border-radius: 10px;
  padding: 0 12px 10px 12px;
  margin-top: 10px;
  box-shadow: 0 0 6px #eef4ed;
  margin-left: 3px;
  position: absolute;
  background-color: #031926;
  width: 90%;
  z-index: 4;
}

.search-results-row-container {
  display: flex;
  flex-direction: row;
  max-height: 650px;
}

.row-1 {
  flex: 1;
}

.row-2 {
  display: block;
  flex: 1;
}

.x-button {
  margin: 12px 0 9px 0;
  border: 1px solid white;
  color: white;
  line-height: 11px;
  padding: 1px 2px 0 2px;
  border-radius: 5px;
}

.x-button:hover {
  cursor: pointer;
}

.album-and-x {
  display: flex;
  justify-content: space-between;
}

.search-results-title {
  display: inline-block;
  margin: 12px 0 10px 0;
}

.tracks {
  max-height: 93.5%;
  overflow: auto;
  padding-right: 15px;
}

.tracks .track-pick {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tracks .track-pick .search-bar-drop-down-menu {
  font-size: large;
  color: white;
  padding: 0 4px 0 4px;
  cursor: pointer;
}

.tracks:hover .down-button {
  visibility: visible;
  cursor: pointer;
}

.tracks .track-default .down-button {
  color: white;
  border: 1px solid white;
  padding: 3px;
  border-radius: 4px;
  /*/visibility: hidden;*/
}

.tracks .track-picked .down-button {
  color: white;
  border: 1px solid white;
  padding: 3px;
  border-radius: 4px;
  /*/visibility: hidden;*/
}

.tracks .track-default {
  display: flex;
  align-items: center;
  width: 100%;
  /*transition: 0.3s;*/
  padding: 2px;
}

.tracks .track-picked {
  display: flex;
  align-items: center;
  width: 100%;
  /*transition: 0.3s;*/
  padding: 2px;
  background-color: #6FD08C;
}

.tracks .track-default:hover {
  background-color: darkslategray;
}

.tracks .track-picked:hover {
  background-color: #BACDB0;
}

.tracks .track-default span {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #808080;
  line-height: 0;
}

.tracks .track-default .highlight {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #eef4ed;
}

.tracks .track-picked .highlight {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #000000;
}

.tracks .track-picked span {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #2f4f4f;
  line-height: 0;
}

.tracks div .track-image img{
  height: 25px;
}

.albums {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 62.5%;
}

.albums .album-opacity-false {
  opacity: 1;
}

.albums .album-opacity-true {
  opacity: 0.2;
}

.albums .albums-repeat {
  padding: 5px 13px 5px 13px;
  text-align: center;
  /*transition: 0.3s;*/
}

.albums .albums-repeat:hover {
  background-color: darkslategray;
}

.albums .albums-repeat .album-result {
  display: table-cell;
}

.albums .albums-repeat .album-result .album-name {
  margin-bottom: 12px;
}

.albums .albums-repeat .album-result p {
  display: inline;
  font-size: 8px;
}

.albums .albums-repeat .album-result img {
  height: 135px;
  width: 135px;
}

.artists {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 25%;
}

.artists .artist-opacity-false {
  opacity: 1;
}

.artists .artist-opacity-true {
  opacity: 0.2;
}

.artists .artists-repeat {
  padding: 5px 13px 5px 13px;
  text-align: center;
  /*transition: 0.3s;*/
}

.artists .artists-repeat:hover {
  background-color: darkslategray;
}

.artists .artists-repeat .artist-result {
  display: table-cell;
}

.artists .artists-repeat .artist-result .artist-name {
  margin-bottom: 12px;
}

.artists .artists-repeat .artist-result p {
  display: inline;
  font-size: 8px;
}

.artists .artists-repeat .artist-result img {
  height: 135px;
  width: 135px;
}

.tracks-list {
  display: flex;
  margin: 0 8px 0 8px;
}

.track-list-row-2 {
  padding: 4px 0 0 15px;
}

.track-list-row-2 a {
  color: #4ea699;
  font-size: 12px;
  margin: 6px 0 6px 0;
  display: block;
}

.track-list-row-2 a:hover {
  color: #eef4ed;
  cursor: default;
}

.track-list-row-3 {
  padding: 0 73px 128px 12px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 550px;
}

.track-list-row-3 .top-hot-or-not {
  margin-left: auto;
  font-size: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.track-list-row-3 .top-hot-or-not .user-stats {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  align-items: flex-end;
  margin-bottom: -2px;
  align-self: flex-end;
}

.track-list-row-3 .top-hot-or-not .popularity {
  margin-left: auto;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0 2px 0 2px;
}

.track-list-row-3 .top-hot-or-not .pick-number {
  padding: 0 5px 4px 2px;
  color: #808080;
}

.track-list-row-3 .top-hot-or-not .pick-button {
  border: 1px solid white;
  padding: 1px 3px 1px 3px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #13315c;
}

.track-list-row-3 .top-hot-or-not .pick-button:hover {
  cursor: default;
}

.track-list-row-3 .top-hot-or-not .top-hot-div {
  display: flex;
  height: 14px;
}

.track-list-row-3 .track-default {
  width: 278px;
  margin: 6px;
  display: flex;
  background-color: #13315c;
  height: 60px;
  padding: 6px;
}

.track-list-row-3 .track-picked {
  width: 278px;
  margin: 6px;
  display: flex;
  background-color: #6FD08C;
  height: 60px;
  padding: 6px;
}

.track-list-row-3 .hell1-there:hover .track-default {
  background-color: #005e7c;
}

.track-list-row-3 .hell1-there:hover .track-picked {
  background-color: #BACDB0;
}

.track-list-row-3 .track-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6px;
}

.track-list-row-3 .top-list-track-image {
  height: 60px;
}

.track-list-row-3 .track-default .track-name {
  color: #EEF4ED;
}

.track-list-row-3 .track-picked .track-name {
  color: #000000;
}

.track-list-row-3 .track-default .track-album {
  color: #808080;
  font-size: smaller;
}

.track-list-row-3 .track-picked .track-album {
  color: #2f4f4f;
  font-size: smaller;
}

.track-list-row-3 .track-default .track-artist {
  color: #808080;
  font-size: smaller;
}

.track-list-row-3 .track-picked .track-artist {
  color: #2f4f4f;
  font-size: smaller;
}

/*.track-list-row-3 .track-default .track-name:hover {*/
  /*color: #EEF4ED;*/
/*}*/

/*.track-list-row-3 .track-default .track-album:hover {*/
  /*color: #808080;*/
  /*font-size: smaller;*/
/*}*/

/*.track-list-row-3 .track-default .track-artist:hover {*/
  /*color: #808080;*/
  /*font-size: smaller;*/
/*}*/

.track-list-row-3 .track-padding {
  height: 12px;
}

.side-menu {
  width: 96px;
}

.side-menu .picked {
  color: #eef4ed;
}

.hell1-there:hover .track-down {
  cursor: pointer;
  z-index: 0;
  visibility: visible;
}

.track-down {
  cursor: default;
  margin-left: 278px;
  margin-right: 6px;
  margin-top: -28px;
  width: 13px;
  height: 18px;
  visibility: visible;
  z-index: -1;
}

.track-down .track-down-button {
  padding: 1px 2px 1px 2px;
  color: aliceblue;
  border-radius: 3px;
}

.track-dropdown-menu {
  position: relative;
  display: inline-block;
}

.track-dropdown-menu-button {
  font-size: 14px;
  margin-left: auto;
}

.track-dropdown-menu-button:hover {
  cursor: pointer;
}

.track-dropdown-menu-content {
  display: none;
  position: absolute;
  margin-top: -18px;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

.track-dropdown-menu-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.track-dropdown-menu-content div:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.track-dropdown-menu:hover .track-dropdown-menu-content {
  display: block;
}

.search-track-dropdown-menu {
  position: relative;
  display: inline-block;
}

.search-bar-drop-down-menu {
  font-size: 14px;
  margin-left: auto;
}

.search-bar-drop-down-menu:hover {
  cursor: pointer;
}

.search-track-dropdown-menu-content {
  display: none;
  position: absolute;
  margin-top: -23px;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  margin-left: -88px;
}

.search-track-dropdown-menu-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.search-track-dropdown-menu-content div:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.search-track-dropdown-menu:hover .search-track-dropdown-menu-content {
  display: block;
  font-size: 10px;
  width: 100px;
  height: 144px;
}

.player {
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 90px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 8px;
  align-items: flex-start;
  z-index: 2;
}

.player .player-row-padding {
  flex-grow: 1;
}

.player .track-holder {
  display: flex;
  flex-direction: row;
}

.player .player-row-1 {
  display: flex;
  min-width: 20%;
  flex-direction: column;
  justify-content: center;
}

.player .track-image {
  height: 64px;
}


.player .track-play-pause-image {
  height: 64px;
  width: 64px;
}

.player .track-holder-attributes {
  padding-left: 5px;
}

.player .track-holder-attributes .track-holder-album {
  color: #808080
}

.player .track-holder-attributes .track-holder-artist {
  color: #808080
}

.player .play-pause {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  font-size: smaller;
  width: 64px;
}

.player .player-contents {
  display: flex;
  flex-direction: column;
  width: 32%;
}

.player .player-contents .player-contents-top-row {
  display: flex;
  flex-direction: row;
}

.player .player-contents .player-contents-bottom-row {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
}

.player .player-contents .player-contents-bottom-row .track-progress-bar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 9px;
}

.player .player-contents .player-contents-bottom-row .track-progress-bar .track-time {
  padding-right: 4px;
}

.player .player-contents .player-contents-bottom-row .track-progress-bar .track-progress {
  flex-grow: 1;
  margin: 0 4px 1px 4px;
}

.player .player-contents .player-contents-bottom-row .track-progress-bar .track-length {
  margin-right: 8px;
  padding-left: 4px;
}

.player .player-contents .player-contents-bottom-row .track-progress-bar .track-progress .track-progress-slider {
  margin: 0;
}

.player .player-contents .player-contents-bottom-row .track-progress-bar .track-progress .track-progress-slider .rz-pointer {
  height: 0;
  width: 0;
}

.player .player-contents .player-contents-bottom-row .track-progress-bar .track-progress .track-progress-slider .rz-pointer:after {
  left: -4px;
}

.player .player-contents .player-contents-bottom-row .track-progress-bar .track-progress .track-progress-slider .rz-bubble {
  display: none;
}

.player .player-contents .player-contents-bottom-row .track-progress-bar .track-progress .track-progress-slider .rz-bar-wrapper {
  padding-top: 0;
  margin-top: 0;
}

.player .player-contents .player-contents-bottom-row .volume-position {
  width: 64px;
  margin-bottom: 2px;
}

.player .player-contents .player-contents-bottom-row .volume-position .volume-slider {
  margin: 0;
}

.player .player-contents .player-contents-bottom-row .volume-position .volume-slider .rz-pointer {
  height: 0;
  width: 0;
}

.player .player-contents .player-contents-bottom-row .volume-position .volume-slider .rz-pointer:after {
  left: -4px;
}

.player .player-contents .player-contents-bottom-row .volume-position .volume-slider .rz-bubble {
  display: none;
}

.player .player-contents .player-contents-bottom-row .volume-position .volume-slider .rz-bar-wrapper {
  padding-top: 0;
  margin-top: 0;
}

.main-body .premium-user-notification {
  text-align: center;
  margin: 10px 0 16px 0;
  color: white;
}

.main-body .premium-user-notification .premium-user-notification-button {
  background: #1DB954;
  padding: 6px 20px 6px 20px;
  border-radius: 20px;
  font-weight: bold;
  width: 140px;
  color: white;
}

.main-body .premium-user-notification .premium-user-notification-button:hover {
  cursor: pointer;
}

p {
  color: #eef4ed;
}

a {
  color: #00B7FF;
}

.md-dialog-content {
  background-color: #031926;
  color: white;
  padding-top: 0;
}

.md-toast-content {
  -webkit-font-smoothing: antialiased;
  height: 55px;
}

.playlist-name {
  background: #6FD08C;
  padding: 6px;
  position: sticky;
  top: 0;
  z-index: 4;
}

.tracks-container {
  display: flex;
  flex-wrap: wrap;
}

.click-to-copy-button {
  padding: 4px 6px 4px 6px;
  background: grey;
  margin-left: -1px;
  border: 1px dotted black;
  border-radius: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.click-to-copy-button:hover {
  cursor: pointer;
}

#referral-code {
  background: gray;
  border: 1px dotted black;
  border-radius: 5px;
  padding: 4px 6px 4px 6px;
}

.share-buttons {
  display: flex;
  align-items: center;
  padding-left: 14px;
  justify-content: space-between;
  width: 200px;
}

.heart {
  width: 42px;
}

.share-buttons-dialog {
  display: flex;
  align-items: center;
}

.init-progress-slider {
  width: 25%;
  margin: 0;
}

.init-progress-slider .rz-bubble {
  display: none;
}

.init-progress-slider .rz-pointer {
  height: 0;
  width: 0;
}

.init-progress-slider .rz-pointer:after {
  height: 0;
  width: 0;
}

.icon {
  height: 45px;
  margin-right: 14px;
  margin-left: 3px;
}
/*
  search bar color #13315c
  text color #eef4ed
 */